
.logo{
	margin: 20px;
	display: inline-block;
	width: 208px;
}

a.nav-right{
  text-decoration: none;
	padding-left: 20 px;
  color: #574241;
	float:right;
	font-size: 20px;
	font-family: Avenir;
	letter-spacing: 0.20px;
	margin: 40px;
	text-transform: uppercase;
	display: inline-block;
}

body{
	background-color: #fff7ec;
}

p{
	font-family: avenir next;
	font-size: 18px;
	color: #897271;
	letter-spacing: 0.44px;
	text-align: left;
	line-height: 30px;
	padding:40px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
