
.logo{
	margin: 20px;
	display: inline-block;
}

a:-webkit-any-link{
	color: #574241;
	text-decoration: none;
	padding-left: 30px;
}

.nav-right{
	float:right;
	font-size: 20px;
	font-family: Avenir Next;
	letter-spacing: 0.20px;
	text-align: justify;
	margin: 40px;
	text-transform: uppercase;
	display: inline-block;
}

body{
	background-color: #fff7ec;
}


.homepagecake{
	margin-top: 50px;
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 80%;
}

p{
	font-family: avenir next;
	font-size: 18px;
	color: #897271;
	letter-spacing: 0.44px;
	text-align: left;
	line-height: 30px;
	margin:40px;
}